@charset "utf-8";

* {
  margin: 0;
  padding: 0;
}

div img {
  margin: 0 auto;
  display: block;
  width: 100%;
}

.fixed {
  position: fixed;
  right: 100px;
  bottom: 100px;
}

.fixed img, .fixed2 img {
  width: 56px;
  height: 56px;
}

.fixed:hover {
  opacity: 0.8;
}

.fixed2 {
  position: fixed;
  right: 100px;
  bottom: 40px;
}

.fixed2:hover {
  opacity: 0.8;
}